html {
  color: #64c900;
  background: #303030;
  font-size: 1em;
  line-height: 1.4;
  font-weight: bold;
}

body {
  padding: 10px 50px;
}

canvas {
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
  width: 100%;
  height: 100%;
  display: block;
}

#headerTable {
  border-collapse: collapse;
  border: 1px solid #0a3001;
}

#headerTable tr td {
  padding: 8px 10px;
  border: 1px solid #0a3001;
  color: pink;
}

a {
  color:hotpink;
}
